### 문자 처리
- 쌍따옴표, 홑따옴표로 표현
- 쌍따옴표 3개, 홑따옴표 3개 가능

In [1]:
a = "Life is too short, You need Python."
print(a)

Life is too short, You need Python.

In [2]:
a = 'Life is too short, You need Python.'
print(a)

Life is too short, You need Python.

In [3]:
a = '''Life is too short, You need Python.'''
print(a)

Life is too short, You need Python.

In [4]:
a = """Life is too short, You need Python."""
print(a)

Life is too short, You need Python.

- 문자열 응용 : +(결합), *(복제),

In [5]:
print("Python" + "is fun")

Pythonis fun

In [8]:
print("python " * 2)

python python

In [10]:
print("*" * 50)
print("My Program")
print("*" * 50)

**************************************************
My Program
**************************************************

- 문자열 인덱싱과 슬라이싱

In [12]:
str1 = "Life is too short"
print(str1[3]) # indexing : 0부터 시작

e

In [14]:
print(str1[-1])

t

In [15]:
print(str1[0:4])

Life

In [17]:
print(str1[5:7])

is

In [18]:
print(str1[9:])

oo short

In [21]:
# 문자열 길이 함수
print("문자열 길이 :", len(str1))

문자열 길이 : 17

In [23]:
str2 = "20210216Sunny"
#날짜와 날씨를 나눠서 출력

print(str2[:-5])
print(str2[-5:])

20210216
Sunny

In [28]:
#날짜를 2021-02-16 출력하기
year = str2[0:4]
month = str2[4:6]
day = str[6:8]
print(str2[0:4] +"-" + str2[4:6] + "-" + str2[6:8] )

2021-02-16

In [35]:
idnum = "901205-6234567"
# 주민등록번호에서 일곱번째 자리 숫자를 이용하여 남,여 판별 후 출력하기
# 1,3 : 남자 / 2,4 : 여자

no = idnum[7]

if no == "1" or no == "3":
    print("남성")
elif no == "2" or no == "4":
    print("여성")
else:
    print("외계인")

외계인

In [36]:
if int(no) % 2 ==1:
    print("남자")
else:
    print("여자")

여자

In [40]:
str3 = "대한민국" # 대$한$민$국
for s in str3:
    print(s+"$", end="")

대$한$민$국$

In [47]:
# 입력받은 숫자만큼 하트 출력

# 54321
# ♡♡♡♡♡
# ♡♡♡♡
# ♡♡
# ♡

st4 = input("숫자 입력 : ")

for c in range(len(st4)):
    for d in range(int(st4[c])):
        print("♡", end="")
    print()

숫자 입력 : 1426
♡
♡♡♡♡
♡♡
♡♡♡♡♡♡

- 문자열 관련 함수

In [48]:
# count : 문자열에 포함된 특정 문자열 개수

a = "hobby"
print("a 문자열에 포함된 b 문자열 개수 :", a.count('b'))

a 문자열에 포함된 b 문자열 개수 : 2

In [50]:
# find : 문자를 찾아서 시작되는 위치를 돌려줌


a = "Python is best Choice"
print('b가 시작되는 첫번째 위치 :', a.find('b'))
print('b가 시작되는 첫번째 위치 :', a.find('k'))

b가 시작되는 첫번째 위치 : 10
b가 시작되는 첫번째 위치 : -1

In [51]:
print('b가 시작되는 첫번째 위치 :', a.find('b', 11))

b가 시작되는 첫번째 위치 : -1

In [52]:
# rfind() : 오른쪽부터 찾기
print('b가 시작되는 첫번째 위치 :', a.rfind('b'))

b가 시작되는 첫번째 위치 : 10

In [54]:
# index : find 함수와 동일한 기능, 단, 찾는 문자열이 없는 경우 에러 발생

a = "Python is best Choice"
print('b가 시작되는 첫번째 위치 :', a.index('b'))
#print('b가 시작되는 첫번째 위치 :', a.index('k'))

b가 시작되는 첫번째 위치 : 10

In [58]:
# startswith() : 괄호 안의 문자열로 시작하면 True, 아니면 False

a = "Python is easy programing"
print(a.startswith("P"))

True

In [59]:
# endswith() : 괄호 안의 문자열로 끝나면 True, 아니면 False
print(a.endswith("g"))

True

In [61]:
# join() : 문자열 사이에 연결문자 지정
b = ","
print(b.join("abcd"))

a,b,c,d

In [62]:
# upper() : 대문자로 변경

a = "abcd"
print(a.upper())

ABCD

In [64]:
# lower() : 대문자로 변경

a = "ABCD"
print(a.lower())

abcd

In [65]:
# swapcase() : 대소문자 상호 변경
a = "Python is Easy"
print(a.swapcase())

pYTHON IS eASY

In [66]:
# title() : 각 단어의 시작부분 대문자로 변경

a = "python is easy"
print(a.title())

Python Is Easy

In [68]:
# 공백제거 : strip(), lstrip(), rstrip()
a = "   hi"
print(a)
print(a.lstrip()) # 좌측 공백 제거

   hi
hi

In [ ]:
a = "hi   "
print(a)
print(a.rstrip()) # 우측 공백 제거

In [69]:
a = "   hi   "
print(a)
print(a.strip()) # 양쪽 공백 제거

   hi
hi

In [71]:
# replace() : 문자열 바꾸기
a = "Life is too short"
print(a.replace("Life", "Your leg"))

Your leg is too short

In [73]:
# split() : 문자열 나누기
a = "a:b:c:d"
print(a.split(":")) # python에서 []는 List

['a', 'b', 'c', 'd']

In [74]:
# split() : 문자열 나누기
a = "a\nb\nc\nd"
print(a.split("\n"))

['a', 'b', 'c', 'd']

In [77]:
# split() : 문자열 나누기
a = "a b c d"
print(a.split()) #괄호 안 입력 없을 시 공백을 기준으로 나눔

['a', 'b', 'c', 'd']

In [79]:
# 문자열 구성 파학 함수 : isdigit(), isalpha(), isnum(), islower(),isupper()

print("1234".isdigit())
print("asd".isalpha())
print("asd1234".isalnum())
print("asd".islower())
print("ASD".isupper())

True
True
True
True
True

In [80]:
name = "KennRY"

# 대문자는 소문자로, 소문자는 대문자로 출력하기
print(name.swapcase())

kENNry

In [97]:
# 연/월/일 형태로 입력받은 후 10년후의 날짜 출력하기

data = input("yyyy/mm/dd :")

pos = data.find("/")
year = int(data[:pos])+10

print("입력한 날짜의 10년 후 : %s" % (str(year)+"년 "+data[5:7]+"월 "+data[8:]+"일"))


#입력값이 2021/02/16일때 -> 2031년 02월 16일

yyyy/mm/dd :2021/02/16
입력한 날짜의 10년 후 : 2031년 02월 16일

In [103]:
# Python에서 문자열은 불변!

# 사이트별로 비밀번호 만들어주기

# 예) http://naver.com
# 규칙 1 : http:// 부분은 제외 -> naver.com
# 규칙 2 : 처음 만나는 점(.) 이후 부분은 제외 -> naver
# 규칙 3 : 남은 글자 중 처음 세자리 + 글자 갯수 + 글자 내 'e' 갯수 + !로 구성
# 결과 => nav51!

addr = "http://naver.com"
addr = addr.replace("http://", "")
print("규칙 1번 :",addr)


addr = addr[:addr.find(".")]
print("규칙 2번 :", addr)

e_cnt = addr.count('e')

password = addr[:3]+str(len(addr))+str(e_cnt)+"!"
print("결과 :", password)

규칙 1번 : naver.com
규칙 2번 : naver
결과 : nav51!