In [1]:
str1 = "List is too short, You need Python"
str2 = "List is too short, You need Python"
str3 = """List is too short, You need Python"""
str4 = '''List is too short, You need Python'''
str5 = "123"

num1 = 10
num2 = 10.1

In [5]:
print(str1)
print(str3)
print(str5)

List is too short, You need Python
List is too short, You need Python
123

In [6]:
print(num1+num2)

20.1

In [7]:
a = b = 3
print(a)
print(b)

3
3

In [8]:
print(a+b)

6

In [16]:
a, b = 10, 15
print(a)
print(b)

10
15

In [17]:
a, b = b,a
print("a=",a)
print("b=",b)

a= 15
b= 10

In [18]:
str1 = 500
num1 = "Hello"
print(str1, " ", num1)

500   Hello

In [ ]:
# 정수형

a = 123
b = -173

In [19]:
# 실수형

a = 1.2
b = -3.45
c = 4.24E10
d = 4.24e-10

print(a)
print(b)
print(c)
print(d)

1.2
-3.45
42400000000.0
4.24e-10

In [21]:
# 8진수(0o), 16진수(0x)

print(0o177) # 177= 1*8의 2승 + 7*8의 1승 + 7*8의 0승
print(0x1511) # 1511 = 1*16의 3승 + 5*16의 2승 + 1*16의 1승 + 1*16의 0승

127
5393

In [24]:
# 연산자
a, b = 3, 4
print("a+b=", a+b)
print("a-b=", a-b)
print("a*b=", a*b)
print("a/b=", a/b) # 소수점 결과까지 포함
print("a//b=", a//b) # 소수점 결과는 버림
print("a%b=", a%b) 
print("a**b=", a**b) # 제곱

a+b= 7
a-b= -1
a*b= 12
a/b= 0.75
a//b= 0
a%b= 3
a**b= 81

In [25]:
b = True
print(b)
print(type(b))

True
<class 'bool'>

### 변수 형 변환
- str() : 문자 타입으로 변환
- int() : 정수 타입으로 변환
- float() : 실수 타입으로 변환
- bool() : 불린 타입으로 변환

In [27]:
print(type(3))
print(type(str(3)))

<class 'int'>
<class 'str'>

In [29]:
print(type(str(3.5)))
print(str(1.0e4))

<class 'str'>
10000.0

In [30]:
print(int(True))
print(int(False))

1
0

In [33]:
print(int(98.6))
print(int('99'))
# print(int('98.6')) error 발생

98
99

ValueError: invalid literal for int() with base 10: '98.6'

In [37]:
print(float(True))
print(float(False))
print(float(98))
print(float('99.6'))
print(float('1.0e4'))

1.0
0.0
98.0
99.6
10000.0

In [39]:
print(type(bool(99)), bool(99))
print(type(bool(0.1)), bool(0.1))

<class 'bool'> True
<class 'bool'> True

In [43]:
# print("100" + 1) # 에러남
print(int("100") + 1)

101

In [44]:
print("100"+str(1))

1001

In [46]:
# 대입연산자
a = 10
a += 5
print(a)

a -= 5
print(a)

a *= 5
print(a)

a /= 5
print(a)

a //= 5
print(a)

a %= 5
print(a)

a **= 5
print(a)

15
10
50
10.0
2.0
2.0
32.0

In [55]:
# 777,777 원 교환하기

money = 777777
c50 = 0
c10 = 0
c5 = 0
c1 = 0

# 5만원
c50 = money // 50000
money %= 50000

# 1만원
c10 = money // 10000
money %= 10000

# 5천원
c5 = money // 5000
money %= 5000

# 1천원
c1 = money // 1000
money %= 1000

print("지폐교환")
print("50,000원 : %d 장" % c50)
print("10,000원 : %d 장" % c10)
print("5,000원 : %d 장" % c5)
print("1,000원 : %d 장" % c1)
print("나머지 : %d 원" % money)

지폐교환
50,000원 : 15 장
10,000원 : 2 장
5,000원 : 1 장
1,000원 : 2 장
나머지 : 777 원